# Chezmoi Configuration
# https://www.chezmoi.io/reference/configuration-file/

[data]
    # Add your custom variables here
    # email = "your@email.com"
    # name = "Your Name"

# Uncomment to add OS-specific variables
# {{- if eq .chezmoi.os "darwin" }}
#     os_family = "mac"
# {{- else if eq .chezmoi.os "linux" }}
#     os_family = "linux"
# {{- end }}
